 body {
      text-align: center;
      background: #f5f5f5;
      font-family: Arial, sans-serif;
    }

    h3 {
      margin-top: 20px;
    }

    canvas {
      border: 2px solid rgb(22, 98, 230);
      cursor: crosshair;
      background: white;
      display: block;
      margin: 20px auto;
     
    }

    #controle {
      margin-top: 10px;
    }

    button {
      margin: 5px;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #aaa;
    }

    button:hover {
      background-color: #6eb8fe;
    }
